@import url(https://fonts.googleapis.com/css?family=Thasadith);

.header-gradient-color {
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: none !important;
}

.landing-gradient-color {
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  overflow: hidden;
}

.image-avatar-rounded {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 14px;
    box-shadow: 0px 0px 10px #fff;
}

.banner-text {
  width: 50%;
  margin: 60px auto;
  text-align: center;
  color: white;
  border-radius: 3px;
  font-family: 'Thasadith', sans-serif;
  font-size: 22px;
}

.banner-text p {
  font-size: 22px;
}

.banner-text p.banner-name {
  font-size: 55px;
  line-height: 55px
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-item i{
  color: white;
  margin: 10px;
  font-size: 2em;
}

.project-grid {
  display: flex;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  background: #302b63 !important;
}

.card-title {
  color: white !important;
  font-size: 10px;
  height: 176px;
  background: url('image/python.jpg') center / cover;
}

.mdl-card__title-text {
  font-family: 'Thasadith';
  font-size: 16px !important;
}

.mdl-card__supporting-text {
  color: #000 !important;
  font-weight: 900;
}

.title-header-custom {
  font-family: 'Thasadith';
  text-align: center;
  margin: 50px 0px;
  font-size: 30px;
}

.title-content {
  font-family: 'Thasadith';
  text-align: center;
  font-size: 22px;
}

.mdl-list__item--two-line .mdl-list__item-primary-content .mdl-list__item-avatar {
  background: #302b63;
  opacity: .7;
}

.color-orange {
  color: #302b63;
  opacity: .7;
}

@media only screen and (max-width: 768px) {
  .mdl-layout__drawer-button{
    position: relative !important;
  }
}